<%= simple_form_for(@movie) do |f| %>
  <%= f.error_notification %>



  <div class="form-inputs">
    <%= f.input :title,  placeholder:"Enter the Title" %>
    <%= f.input :description,  placeholder:"Enter the Description" %>
    <div class="row">
      <div class="col-md-4">
        <%= f.input :movie_length,  placeholder:"E.g. 1:43" %>
      </div>
      <div class="col-md-4">
        <%= f.input :director %>
      </div>
      <div class="col-md-4">
        <%= f.input :rating,  placeholder:"Enter value out of 5" %>
      </div>
    </div>
    <%= f.input :image, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


